.env
.idea
*.pyc
app

docker/Data/*
!docker/Data/Solr/conf/*
!docker/Data/Solr/core.properties

app_data/*
!app_data/README.txt

app_databases/*
!app_databases/README.txt

app_files/*
!app_files/README.txt

docker/custom_images/hashes.yml
